@font-face {
  font-family: "FuturaPT-Book";

  src: url("../fonts/FuturaPT-Book.woff") format("woff"),
    url("../fonts/FuturaPT-Book.woff2") format("woff2"); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RoadRadio";

  src: url("../fonts/RoadRadio.woff") format("woff"),
    url("../fonts/RoadRadio.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RoadRadio-Light";

  src: url("../fonts/RoadRadio-Light.woff") format("woff"),
    url("../fonts/RoadRadio-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}